{extend name="public/base" /}
{block name="title"}
用户登录页面
{/block}
{block name="content"}
<div class="content center-block animated fadeInDown">
    <div class="page-header h1">用户登录</div>
    <form action="#" class="loginForm">
        <div class="form-group">
            <label for="username" class="control-label">用户名</label>
            <input type="text" class="form-control" id="username" name="username" value="{$username}" placeholder="用户名" />
        </div>
        <div class="form-group">
            <label for="password" class="control-label">密码</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="密码" />
        </div>
        <div class="form-group">
            <label for="verify" class="control-label">验证码</label>
            <div class="input-group">
                <input type="text" class="form-control" id="verify" name="verify" placeholder="验证码"/>
                <span class="input-group-addon"><img src="{:captcha_src()}" alt="验证码" ID="verifyImg"
                                                     onclick="this.src='{:captcha_src()}?'+Math.random(); "></span>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" id="login">登录</button>
        </div>
    </form>
</div>
<div class="bottom center-block animated fadeInUp">
    Copyright 2020 {$webInfo.copyright} All Rights Reserved
</div>
{/block}
{block name="footer"}
{/block}
{block name="js"}
<script>

    $(function () {

        function refresh() {
            $("#verifyImg").attr("src", "{:captcha_src()}?"+Math.random());
            document.getElementById("password").value = "";
            document.getElementById("verify").value = "";
            // $("#sixcode")[0].reset();
        }


        $('#login').click(function () {

            $.ajax({
                url: "{:url('index/index/login')}",
                data:$('.loginForm').serialize(),   //表单序列化数据
                type:'post',
                dataType:'json',
                success:function (data) {
                    if (data.code == 1) {
                        layer.msg(data.msg, {
                            icon: 6,
                            time: 2000,
                        }, function () {
                            location.href=data.url;
                        });
                    } else {
                        layer.open({
                            title: '用户登录失败',
                            content: data.msg,
                            icon: 5,
                            anim: 6
                        });
                        refresh();
                    }
                }

            });
            return false;

        });

    });






</script>
{/block}